@import url("https://fonts.googleapis.com/css2?family=Mukta+Malar&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(rgb(56, 80, 146), purple, pink);
  overflow: hidden;
}

.sub-container {
  margin: 84px 489px;
  padding: 9px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 10px;
  opacity: 0.5;
}

.btn {
  width: 67px;
  padding: 2px 2px;
  margin: 2px 2px;
  border-radius: 15px;
  height: 59px;
  cursor: pointer;
  font-size: 25px;
  font-family: "Mukta Malar", sans-serif;
}

.extrabtn{
  font-size: 16px;
}

.input {
  width: 91%;
  margin: 15px 0px;
  padding: 19px 2px;
  font-size: 28px;
  border-radius: 7px;
  text-align: right;
  font-family: "Mukta Malar", sans-serif;
}

#del{
  color: red;
}

.specbtn{
  background-color: rgb(225 184 184);
}

#equals{
  background-color: rgb(233, 167, 167);
}